// buttons Praktisk

section.container{
    margin: 5% auto;
    text-align: center;
  }
    a:hover{border-bottom: 1px solid #111;} 
    
  
    button:hover{cursor: pointer}
    button {
      background: transparent; outline: none;
      position: relative;
      border: 2px solid $secondary;
      padding: 15px 50px;
      overflow: hidden;
    }
  
    /*button:before (attr data-hover)*/
    button:hover:before{opacity: 1; transform: translate(0,0);}
    button:before{
      content: attr(data-hover);
      position: absolute;
      top: 1.1em; left: 0;
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 700;
      font-size: .8em;
      opacity: 0;
      transform: translate(-100%,0);
      transition: all .3s ease-in-out;
    }
      /*button div (button text before hover)*/
      button:hover div{opacity: 0; transform: translate(100%,0)}
      button div{
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 700;
        font-size: .8em;
        transition: all .3s ease-in-out;
      }
  
      .btn-1 {
        margin-left:3%;
      }

      .button-and-all{
        text-align: center;
      }

      .btn-2{
        margin-top:2%;
        margin-left:2%;
      }