.fire-on{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 1;
    -webkit-transition: all 1200ms linear;
    transition: all 1200ms linear; 
  }
 
 
  #switch,
  #circle {
    height: 31px;
    cursor: pointer;
    -webkit-transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
      transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
  } 
 
  #circle {
    margin-top: 5%;
    margin-left: 5%;
    width: 40%;
    height: 80%;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(113, 133, 146, 0.25), 0 0 0 1px rgba(26,53,71,0.07);
    background: white;
  }
 
  .section-center{
    position: absolute;
    width: 130px;
    height: 120px;
    margin-top:3%;
    left: 50%;
    display: block;
    overflow: hidden;
  
    border-radius: 50%;
    z-index: 5;
    // change
    background-color:none;
    opacity: 100%;
    box-shadow: 0 0 50px 5px rgba(255,148,0,.1);
    transform: translate(-50%, -50%);
  }
  .wood {
    position: absolute;
    z-index: 21;
    left: 50%; 
    bottom: 12%;
    width: 100px;
    margin-left: -50px;
    height: 36px;
    background-image: url('https://ivang-design.com//svg-load/air/wood.png');
    background-size: 100px 36px;
  }
  .wood-circle {
    position: absolute;
    z-index: 20;
    left: 50%; 
    bottom: 11%;
    width: 120px;
    margin-left: -60px;
    height: 26px;
    border-radius: 100%;
    
  }
  .circle {
    position: absolute;
    z-index: 6;
    right: -300px; 
    bottom: -450px;
    width: 750px;
    height: 700px;
    border-radius: 100%;
   
  }
  
  
  .fire {
    position: absolute;
    z-index: 39;
    width: 2px;
    margin-left: -1px;	
    left: 50%; 
    bottom: 50px;
    -webkit-transition: all 1200ms linear;
    transition: all 1200ms linear; 
  }
  .fire span { 
    display: block;
    position: absolute;
    bottom: -15px; 
    margin-left:-20px;
    height: 0px; width: 0px;
    border: 30px solid #febd08;
    border-radius: 50%;
    border-top-left-radius: 0;
    left: -9px; 
    box-shadow: 
      0 0 10px 5px rgba(244,110,28,0.8),
      0 0 20px 10px rgba(244,110,28,0.6),
      0 0 30px 15px rgba(244,110,28,0.3);
    transform: scale(0.45, 0.75) rotate(45deg);
    animation: brilla-fire 2.5s alternate infinite;
    z-index: 9;
    -webkit-transition: all 1200ms linear;
    transition: all 1200ms linear; 
  }
  .fire span:after { 
    display: block;
    position: absolute;
    bottom: -30px; 
    content: '';
    margin-left: -5px;
    height: 30px; 
    width: 12px;
    background-color: rgba(244,110,28,0.7);
    border-radius: 80px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 
      0 0 20px 10px rgba(244,110,28,0.7);
    left: -9px; 
    opacity: 0.8;
    transform: rotate(-50deg);
  }
  .fire span:nth-child(2) { 
    left: -22px; 
    transform: scale(0.3, 0.55) rotate(15deg);
    z-index: 8;
    animation: brilla-fire 1.5s alternate infinite;
  }
  .fire span:nth-child(3) { 
    left: 4px; 
    transform: scale(0.3, 0.55) rotate(80deg);
    z-index: 8;
    animation: brilla-fire 2s alternate infinite;
  }
  @keyframes brilla-fire{
    0%, 100%{
    box-shadow: 
      0 0 10px 5px rgba(244,110,28,0.8),
      0 0 20px 10px rgba(244,110,28,0.6),
      0 0 30px 15px rgba(244,110,28,0.3);
    }
    50%{
    box-shadow: 
      0 0 14px 7px rgba(244,110,28,0.8),
      0 0 28px 14px rgba(244,110,28,0.6),
      0 0 42px 21px rgba(244,110,28,0.3);
    }
  }
  
 
 