#footer{
    color:#066966;
    
    
}

.aktualitet{
    flex-basis:40%;
    background: $secondary;
    border-radius: 10px;
    margin-bottom:5%;
    padding: 20px 12px;
    box-sizing: border-box;
    text-align:justify;
}

.footer {
    font-size:$articles;
    background:$wireframe;
    margin-top:4%; 
}
.footer {
    padding: 1rem; }
    .footer a i:link {
      color: #f0f0f0; }
    .footer a i:hover {
      color: $hover }
    
    .footer .social-item i {
      font-size: 1.5rem;
      padding: 0 2rem;
      color: $third; }

      //+ banner ok 


      section #center{
        margin-top: 7%;
    }
    #center .center-block{
        max-width: 100%;
        max-height: 400px;
        border-radius: 3%;
    }
            
    .mail a{
        text-decoration: underline;
        color: white; 
    }
    .mail a:hover{
        color: lightblue;
    }
    
    .sponzor{
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 1%;
        margin-top: -0.1%;
    }
    
    .sponzor .popis p{
        font-size: 12px;
        color: black;
        margin-left: -45%;
        margin-right: 40%;
    }
    
    .sponzor .popis a{
        color: $secondary;
        text-decoration: underline;
    }
    
    .sponzor .popis a:hover{
        color: lightblue;
    }
    
    .sponzor .obrazok img{
        margin-top: 1.5%;
        margin-left: 40%;
    }
    

    // media @

    @media(max-width:700px){
        .row{
            flex-direction: column;
        }
        .aktualitet{
            margin-left: 4%;
            width: 92%;
        }
    
        .textbox a{
            margin-top: 1rem;
        }
        
        .textbox h1{
            margin-top: 16rem;
            font-size: 30px;
        }
        
        .textbox p{
            margin: 2rem;
            font-size: 12px;
            color: white;
        }
    
        .textbox{
            width: 90%;
        }
    
        .sponzor .obrazok img{
            max-width: 25%;
            height: auto;
            margin-left: 0%;
            justify-content: center;
        }
    
        .sponzor .popis p{
            font-size: 10px;
            margin-top: 3%;
            margin-left: 10%;
            margin-right: 10%;
        }
        .sponzor{
            flex-direction: column;
        }
    }