// Goals card



.card3{
    margin-top:15%;
    border-radius: 4px;
    box-shadow: 0 .5rem 1rem rgba(.15,.25,.24,.20)!important;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 80px 18px 36px;
    height: 300px;
    opacity:100%;
  }


// media @
  @media(max-width: 990px){
  .card3{
    margin: 20px;
  }
  } 