.separate {
    margin-bottom: 7%;
    .boxos{
      box-shadow: 0 .5rem 1rem rgba(.15,.25,.24,.20)!important;
      padding:3%;
    }
}


.boardos{
  box-shadow: 0 .5rem 1rem rgba(.15,.25,.24,.20)!important;
  margin-top:3%;
}

.divide {
  border-top: 3px solid gainsboro;
  padding-top:3%;
}

.ujo{
 
  img{
    position: absolute;
    max-height:233px;
    top:43%;
    right:-8%;
  }
}
