// 1. Colors
// ==========================================================================

$primary: hsl(0, 12%, 97%);
$secondary: hsl(0, 12%, 97%);
$third: hsl(0, 12%, 97%);
$forth: hsl(0, 12%, 97%);
$btn-color: hsl(0, 12%, 97%);
$hover: hsl(0, 12%, 97%);
$wireframe:#70b1da;

// 1. Font Sizes
// ==========================================================================


$header: 1.75em;
$subheader: 1.625em;
$articles: 0.875em;

