@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}


@import'variables';
@import'globals';
@import'navbar';
@import'cardCategory';
@import'slideshow';
@import'board';
@import'footer';
@import'goalsCard';
@import'fire';
@import'downloads';
@import'buttons';
@import'dividers';
@import'parallaxIndex';
@import'mixxins';
@import'calendar';
@import'cardRedir';
@import'gallery';
@import'uniform';
@import'vgaCards';


:root{
  text-decoration:none;
  &:hover{
    text-decoration:none;
  }
}
body{
  text-decoration:none;
}


.container-fluid{
  background-image:linear-gradient(rgba(4, 9, 30, 0.616),rgba(4, 9, 30, 0.438)),url('../assets/0IMG_1109.jpg');
    background-size:cover;
    height:400px;
    padding-top:1.7%;
    width:100%;
    color:white;
    padding-top: 200px;
    padding-bottom: 230px;
    width: 100% ;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  
    
}

// 1. Typography
// ==========================================================================

h1, h2, h3, h4, h5


h1{
        padding-top:4%;
        font-size:$header;
        margin:auto;
        /* font-weight: 600; */

        font-weight: 800;
        text-transform: uppercase;
        color: #066966a6;
    }

    h2{
       font-size:$subheader;
       color:black;
       margin: auto;
    }
    
    h3{
      font-size:$others;
    }
  

p,a,li{
  font-size:$articles;
  text-align:justify;
  text-decoration: none;
  cursor: pointer;
}

.bigger-header{
  font-size:40px;
  font-weight: 800;
  animation: animate 3s ;
}


.bla{
  animation: blu 7s;
  color:$forth;
  font-weight: 600;
}

.random{
  border-bottom:3px solid $secondary;
}

@keyframes blu {


  from {
  color:white;
  
  }
  to {
  color:$forth;
  
  }
  
  

}


@keyframes animate {


  0% {
    font-size:100%;
    opacity:1;
  }
  
  50% {
    font-size:200%;
    opacity:0;
}

}

.helper{
        justify-content: center;
    }

   
  
  // Divider
  #b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, .15);
    margin-top:2%;
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  
  
  
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  

// Om gruppen 

.om-main{
  margin-top:3%;
  .om-logo{
  opacity:100%;
  padding:3%;
  width:70%;
}
}
.om-logo-2{
  opacity:100%;
}
.logo-descr{
  margin-top:4%;
}
.logo-descr-2{
  margin-top:32%;
}



.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-below{
  margin-top:10%;
}

.position-relative{
  margin-bottom:7%;
}

.breadcrumb{
  padding-left:6%;
}

.btn{
  background-color:$wireframe;
}


.bush{
  position: absolute;
  width: 300px;
  bottom: 33%;
  right: -34%;
}

.picture{
  height:340px;
  opacity:100%;
}


.downloads{
  display:flex;
  margin-top: 8%;
  padding-left: 19%;
  @media (max-width: 576px) {
    margin-left:-17%;
  }
}







.divider2{
  border-top: 3px solid gainsboro;
}
.divider3{
  border-top: 2px solid gainsboro;
  width:70%;
  margin: auto;
}

// main 

.date__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ccc;
  border: 4px solid;
  font-weight: bold;
  padding: 5px 10px;
  .date__day{
    font-size: 22px;
  }
}
.blog-card {
  padding: 20px;
  position: relative;
  .date__box {
    opacity: 0;
    transform: scale(0.5);
    transition: 300ms ease-in-out;
  }
  .blog-card__background,
  .card__background--layer{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .blog-card__background {
    padding: 15px;
    background: white;
  }
  .card__background--wrapper{
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
    position: relative;
    overflow: hidden;
  }
  .card__background--main{
    height: 100%;
    position: relative;
    transition: 300ms ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card__background--layer {
    z-index: 0;
    opacity: 0;
    background: rgba(#333, 0.9);
    transition: 300ms ease-in-out;
  }
  .blog-card__head {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-card__info{
    z-index: 10;
    background: white;
    box-shadow: 0 .5rem 1rem rgba(.15,.25,.24,.20)!important;
    padding: 20px 15px;
    h5 {
      transition: 300ms ease-in-out;
    }
  }
  &:hover {
    .date__box{
      opacity: 1;
      transform: scale(1);
    }
    .card__background--main {
      transform: scale(1.2) rotate(5deg);
    }
    .card__background--layer {
      opacity: 1;
    }
    .blog-card__info{
      h5{
        color: $primary; 
      }
    }
  }
}

.images{
  text-align:center;
  margin-top:15%;
}
.img-bliv{
  
  
  img{
    width:90px;
    margin-top:7%;
    height:80px;
  }
  
}

.img-bliv-2{ 
  
  img{
  margin-top:30%;
  width:90px;
  height:80px;

  }
}

.soci{
  margin-top:71%;
}




// gradient



#gradient {
  background: $secondary;
  width: 100%;
  height: 150px;
}

.new{
 text-align:center;
 

}

.events{
  margin-top: -3%;
  text-align:center;
  padding-bottom:4%;
  margin:2%;
  .events-hot{
    margin:3%;
  }
  p{
    text-align:center;
    line-height:30px;
  }
}


.ok-logos{
  padding-left: 35%;
  padding-top: 5%;
}



.calendar-top{
  margin-top:36%;
}

.min-height{
  min-height:328px;
}

.ujko{
  width:100%;
  opacity:100%;
}

.try{
  text-decoration:none;
  margin-right: -35%;
}

.leder{
  background: white;
  text-decoration: none;
  color: #444;
  box-shadow: 0 .5rem 1rem rgba(.15,.25,.24,.20)!important;
  padding:2px;
  .imagination{
    padding-left: 37%;
    padding-top: 5%;
    
  }
}
.nwm{
 
  background-image:linear-gradient(rgba(4, 9, 30, 0.616),rgba(4, 9, 30, 0.438)),url('/assets/0IMG_1103.jpg');
    background-size:cover;
    height:200px;
    padding-top:1.7%;
    width:100%;
    color:white;
    padding-top: 200px;
    padding-bottom: 230px;
    width: 100% ;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}


//Transition

#flood-right {
  @include transition(.25s ease-in-out);
  @include boxShadow(inset 0px 0 0 0 $forth);
  color:black;
  overflow:hidden;
  &:hover {
    
    @include boxShadow(inset 500px 0 0 0 #3888ba83);
  }
}


section {
  width:100%;
  display: table;
  
}
section.ok{
  background-color: #555;
}


.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
position: relative;
  bottom: -150%;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

@media(max-width: 768px) {
  .scroll-down{
    bottom:-100%;
  }

  .parallax-one h2 {
    font-size: 20px;
}

  .kill{
    padding-left: 10%;
    font-size: 1.3em;
  }
  
  .kill2{
    margin-top:6%;
  }
  
}

.bt:not(:disabled):not(.disabled).active {
 
  background:$secondary;

  &:hover{
    background:$secondary;
  }
}

.bt{
  margin-top:1%;
}

