@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}


@import'variables';
@import'globals';
@import'navbar';
@import'cardCategory';
@import'slideshow';
@import'board';
@import'footer';
@import'goalsCard';
@import'fire';
@import'downloads';
@import'buttons';
@import'dividers';



.container-fluid{
    background-image:url("https://images.unsplash.com/photo-1464808322410-1a934aab61e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    height:110px;
    padding-top:1.7%;
    opacity: 80%;
    width:100%;
    color:white;
  
    
}

// 1. Typography
// ==========================================================================

h1, h2, h3, h4, h5


h1{
        padding-top:4%;
        font-size:$header;
        margin:auto;
        font-weight: 600;
    }

    h2{
       font-size:$subheader;
       
       margin: auto;
    }
    
    h3{
      font-size:$others;
    }
  

p,a,li{
  font-size:$articles;
  text-align:justify;
}
.helper{
        justify-content: center;
    }

   
  // Praktisk      
  .card {
    border: none;
  }

  
  .vgr-cards {
    .card {
      display: flex;
      flex-flow: wrap;
      flex: 100%;
      margin-bottom: 40px;
      height: 300px;
  
      &:nth-child(even) .card-img-body {
        order: 2;
      }
  
      &:nth-child(even) .card-body {
        padding-left: 0;
        padding-right: 1.25rem; 
      }
      
      @media (max-width: 576px) {
        display: block;
      }
      
    }
  
    .card-img-body {
      flex: 1;
      overflow: hidden;
      position: relative;
      
      @media (max-width: 576px) {
        width: 100%;
        height: 200px;
            margin-bottom: 20px;
      }
      
    }
    
    .card-img {
      width: 100%;
      height: auto;
      position: absolute;
      margin-left: 50%;
      transform: translateX(-50%);
      
      @media (max-width: 1140px) {
            margin: 0;
      transform: none;
      width: 100%;
      height: auto;
      }
      
    }
  
    .card-body {
      flex: 2;
      padding: 0 0 0 1.25rem;
      
      @media (max-width: 576px) {
        padding: 0;
      }
      
    }
  }

  // Divider
  #b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, .15);
    margin-top:2%;
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  
  
  
  
  .card-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  



  //  Landing page 

  .intro{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.616),rgba(4, 9, 30, 0.438)),url('../assets/forside_01.jpg');
    background-position: center;
    background-size: cover;
    position:relative;
}

.textbox{
    width: 60%;
    color: #fff;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align:center;
}

.textbox a{
    margin-top: 1rem;
}

.textbox h1{
    margin-top: 15rem;
    font-size: 62px;
}

.textbox p{
    margin: 2rem;
    font-size: 14px;
    color: white;
}

.hero-btn{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solid #336666;
    background:#336666;
    transition:1s;
    color: white;
}


    .aktualitet:hover, .center-block:hover{
      box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.76);
  }
         


// Om gruppen 

.om-main{
  margin-top:3%;
  .om-logo{
  opacity:100%;
  padding:3%;
  width:70%;
}
}
.om-logo-2{
  opacity:100%;
}
.logo-descr{
  margin-top:4%;
}
.logo-descr-2{
  margin-top:32%;
}



// Testik of galleri

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}

.text-below{
  margin-top:10%;
}

.position-relative{
  margin-bottom:7%;
}

.breadcrumb{
  padding-left:6%;
}

.btn{
  background-color:$wireframe;
}


.bush{
  position: absolute;
  width: 300px;
  bottom: 33%;
  right: -34%;
}

.picture{
  height:340px;
  opacity:100%;
}


.downloads{
  display:flex;
  margin-top: 8%;
  padding-left: 19%;
}




// Downloads section galleri
.test {
  background: #ffffff;
  border: solid 1px #e6e6e6;
  border-radius: 2px;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  margin: 5px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 100px;
}

.test span {
  background: $secondary;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  line-height: normal;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.test span:last-child {
  margin-left: -20px;
}

.test:before,
.test:after {
  background: #ffffff;
  border: solid 3px #9fb4cc;
  border-radius: 4px;
  content: '';
  display: block;
  height: 35px;
  left: 50%;
  margin: -17px 0 0 -12px;
  position: absolute;
  top: 50%;
  /*transform:translate(-50%,-50%);*/
  
  width: 25px;
}

.test:hover:before,
.test:hover:after {
  background: #e2e8f0;
}
/*a:before{transform:translate(-30%,-60%);}*/

.test:before {
  margin: -23px 0 0 -5px;
}

.test:hover {
  background: #e2e8f0;
  border-color: #9fb4cc;
}

.test:active {
  background: #dae0e8;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, .25);
}

.test span:first-child {
  display: none;
}

.test:hover span:first-child {
  display: inline-block;
}

.test:hover span:last-child {
  display: none;
}



.divider2{
  border-top: 3px solid gainsboro;
}


// Uniform separate

.separate {
    margin-bottom: 7%;
    .boxos{
      box-shadow: 0 .5rem 1rem rgba(.15,.25,.24,.20)!important;
    }
}


.boardos{
  box-shadow: 0 .5rem 1rem rgba(.15,.25,.24,.20)!important;
  margin-top:3%;
}

.divide {
  border-top: 3px solid gainsboro;
  padding-top:3%;
}

.ujo{
 
  img{
    position: absolute;
    max-height:233px;
    top:43%;
    right:-8%;
  }
}


.date__box {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ccc;
  border: 4px solid;
  font-weight: bold;
  padding: 5px 10px;
  .date__day{
    font-size: 22px;
  }
}
.blog-card {
  padding: 30px;
  position: relative;
  .date__box {
    opacity: 0;
    transform: scale(0.5);
    transition: 300ms ease-in-out;
  }
  .blog-card__background,
  .card__background--layer{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .blog-card__background {
    padding: 15px;
    background: white;
  }
  .card__background--wrapper{
    height: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
    position: relative;
    overflow: hidden;
  }
  .card__background--main{
    height: 100%;
    position: relative;
    transition: 300ms ease-in-out;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .card__background--layer {
    z-index: 0;
    opacity: 0;
    background: rgba(#333, 0.9);
    transition: 300ms ease-in-out;
  }
  .blog-card__head {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .blog-card__info{
    z-index: 10;
    background: white;
    box-shadow: 0 .5rem 1rem rgba(.15,.25,.24,.20)!important;
    padding: 20px 15px;
    h5 {
      transition: 300ms ease-in-out;
    }
  }
  &:hover {
    .date__box{
      opacity: 1;
      transform: scale(1);
    }
    .card__background--main {
      transform: scale(1.2) rotate(5deg);
    }
    .card__background--layer {
      opacity: 1;
    }
    .blog-card__info{
      h5{
        color: $primary; 
      }
    }
  }
}



