@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  font-family: 'Open Sans', sans-serif;
}

.nav-color {
  background-color: #f8f6f6;
}

#navigation a {
  color: #066966;
  font-weight: bold;
}

#navigation:hover {
  color: #669966;
}

.navbar-brand img {
  width: 50px;
  height: 40px;
  margin: 0;
  padding: 0;
}

a {
  color: black;
}

a:hover {
  color: brown;
}

.custom-toggler.navbar-toggler {
  border-color: #066966;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.card {
  min-height: 80%;
  overflow: hidden;
}

i {
  right: 16px;
  top: 15px;
}

.shadow {
  min-height: 100%;
}

.card-img-top {
  opacity: 70%;
}

.card-helper {
  width: 50%;
}

.mikro-header {
  margin: auto;
}

.video {
  margin-top: 17%;
  margin-left: 6%;
}

.img-placeholder {
  margin: 4%;
}

.wrap-info {
  color: white;
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 75%;
  padding: 20px;
}

.info {
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  position: absolute;
  z-index: 2;
  bottom: 30%;
  padding: 20px;
}

.margin-top {
  margin-top: 10px;
}

.block6 {
  height: 480px;
  background-color: #E8EFF7;
}

.block7 {
  height: 270px;
  background-color: #E8EFF7;
  margin-left: 2%;
}

.block8 {
  height: 187px;
  background-color: #E8EFF7;
  margin-left: 2%;
  margin-top: 4%;
}

/* THE DIV */
.simple-ss {
  width: 100%;
  height: 170px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 4%;
  background-image: url("https://imgur.com/download/OtK7XDW");
  background-position: 0;
  background-size: cover;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.feature-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: white;
  border-radius: .75rem;
}

.icon-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  -webkit-transition: -webkit-transform .25s ease-in-out;
  transition: -webkit-transform .25s ease-in-out;
  transition: transform .25s ease-in-out;
  transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
  fill: currentColor;
}

.icon-link:hover > .bi {
  -webkit-transform: translate(0.25rem);
          transform: translate(0.25rem);
}

.icon-square {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}

.rounded-4 {
  border-radius: .5rem;
}

.rounded-5 {
  border-radius: 1rem;
}

.text-shadow-1 {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.text-shadow-2 {
  text-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
}

.text-shadow-3 {
  text-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25);
}

#footer {
  color: #066966;
}

.aktualitet {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  background: #066966a6;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: justify;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer {
  font-size: 0.8rem;
}

.footer {
  padding: 1rem;
}

.footer a i:link {
  color: #f0f0f0;
}

.footer a i:hover {
  color: #669966;
}

.footer .social-item i {
  font-size: 1.5rem;
  padding: 0 2rem;
  color: #066966;
}

section #center {
  margin-top: 7%;
}

#center .center-block {
  max-width: 100%;
  max-height: 400px;
  border-radius: 3%;
}

.mail a {
  text-decoration: underline;
  color: white;
}

.mail a:hover {
  color: lightblue;
}

.sponzor {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 1%;
  margin-top: -0.1%;
}

.sponzor .popis p {
  font-size: 12px;
  color: black;
  margin-left: -45%;
  margin-right: 40%;
}

.sponzor .popis a {
  color: #066966;
  text-decoration: underline;
}

.sponzor .popis a:hover {
  color: lightblue;
}

.sponzor .obrazok img {
  margin-top: 1.5%;
  margin-left: 40%;
}

@media (max-width: 700px) {
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .aktualitet {
    margin-left: 4%;
    width: 92%;
  }
  .textbox a {
    margin-top: 1rem;
  }
  .textbox h1 {
    margin-top: 16rem;
    font-size: 30px;
  }
  .textbox p {
    margin: 2rem;
    font-size: 12px;
    color: white;
  }
  .textbox {
    width: 90%;
  }
  .sponzor .obrazok img {
    max-width: 25%;
    height: auto;
    margin-left: 0%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sponzor .popis p {
    font-size: 10px;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .sponzor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card3 {
  margin-top: 15%;
  border-radius: 4px;
  background: rgba(197, 6, 6, 0.226);
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  padding: 14px 80px 18px 36px;
  height: 300px;
}

.card3 img {
  top: 10px;
  right: 15px;
  max-height: 120px;
}

.card-1 {
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-2 {
  background-image: url(https://ionicframework.com/img/getting-started/components-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

.card-3 {
  background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80px;
}

@media (max-width: 990px) {
  .card3 {
    margin: 20px;
  }
}

.container-fluid {
  background-image: url("https://images.unsplash.com/photo-1464808322410-1a934aab61e5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
  height: 140px;
  margin-top: 15px auto;
  opacity: 96%;
  width: 100%;
  color: white;
}

h1, h2, h3, h4, h5
h1 {
  padding-top: 4%;
  font-size: 1.75em;
  margin: auto;
}

.helper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  border: none;
}

.card-img {
  border-radius: 0;
}

.vgr-cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin-bottom: 40px;
  height: 300px;
}

.vgr-cards .card:nth-child(even) .card-img-body {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.vgr-cards .card:nth-child(even) .card-body {
  padding-left: 0;
  padding-right: 1.25rem;
}

@media (max-width: 576px) {
  .vgr-cards .card {
    display: block;
  }
}

.vgr-cards .card-img-body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  position: relative;
}

@media (max-width: 576px) {
  .vgr-cards .card-img-body {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
  }
}

.vgr-cards .card-img {
  width: 100%;
  height: auto;
  position: absolute;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (max-width: 1140px) {
  .vgr-cards .card-img {
    margin: 0;
    -webkit-transform: none;
            transform: none;
    width: 100%;
    height: auto;
  }
}

.vgr-cards .card-body {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: 0 0 0 1.25rem;
}

@media (max-width: 576px) {
  .vgr-cards .card-body {
    padding: 0;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.intro {
  min-height: 100vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 9, 30, 0.616)), to(rgba(4, 9, 30, 0.438))), url("../assets/forside_01.jpg");
  background-image: linear-gradient(rgba(4, 9, 30, 0.616), rgba(4, 9, 30, 0.438)), url("../assets/forside_01.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.textbox {
  width: 60%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.textbox a {
  margin-top: 1rem;
}

.textbox h1 {
  margin-top: 15rem;
  font-size: 62px;
}

.textbox p {
  margin: 2rem;
  font-size: 14px;
  color: white;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #336666;
  background: #336666;
  -webkit-transition: 1s;
  transition: 1s;
  color: white;
}

.aktualitet:hover, .center-block:hover {
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.76);
          box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.76);
}

.om-main {
  margin-top: 3%;
}

.om-logo {
  opacity: 100%;
  padding: 3%;
  width: 70%;
}

.om-logo-2 {
  opacity: 100%;
}

.logo-descr {
  margin-top: 4%;
}

.logo-descr-2 {
  margin-top: 32%;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

#image-gallery .modal-footer {
  display: block;
}

.thumb {
  margin-top: 15px;
  margin-bottom: 15px;
}
/*# sourceMappingURL=style.css.map */