.nav-color{
    background-color:$primary;
}


.nav-link{
    border:none;
}





#navigation a{
    
    color:black;
    font-weight: 400;
    &:hover:not(.sign){
      color:$secondary;
    }

   
 


}
.sign{
    &:hover{
        background-color:$secondary;
        border-radius: 27px;
    }


   
      
      
}



#color{
    color:black;
    font-weight: bold;
    border:2px solid $secondary;
    border-radius:26px;


    &:hover{
       color:black;
    
    }
    
}



.navbar-brand {
    text-decoration: none;

    img{
        width: 50px;
        height: 50px;
        margin:0;
        padding:0;
    }
}



.custom-toggler.navbar-toggler {
    border-color: #066966;
}
  
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


@media(max-width: 768px) {

    #color{
        padding-left:40%;
    }
    .nav-color{
       padding-bottom:3%;
    
    }
}